*{
    margin: 0;
    padding: 0;
}

body{
    
    background-color: black;
    color: antiquewhite; 
}

header {
    background-color: #364552;
    text-align:center;
    height: 50px;   
}


.pagina {
    color: white;
    text-decoration: none;
    margin: 40px;
    font-size: 40px;
    
}

.padredepagina {
    display: inline-block;
    width: 160px;
    
}

h1{
    
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
    font-size: 3rem;
    background-color: rgba(240, 248, 255, 0.5);
}

h2{

    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5px;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: rgba(240, 248, 255, 0.5);
}

#formulario{
    text-align: center;
}

.solicitud{
margin: 15px;
padding: 15px;
}



p{
    background-color: rgba(240, 248, 255, 0.5);
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    width: 75%;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
}